html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
    width: 100%;
    height: 100%;
}

/* EL CANVAS SE AJUSTA POR JS SEGÚN PC O MÓVIL */
canvas {
    display: block;
    margin: 0 auto; /* centra en escritorio */
    border: none;
    padding: 0;
}
/* Móvil → sin borde */
canvas {
    border: none;
}

/* Escritorio → borde visible */
@media (min-width: 800px) {
    canvas {
        border: 3px solid black;
    }
}
